= simple_form_for @user do |f|
 = f.input :name
 = f.input :email
 = f.input :password
 = f.input :password_confirmation
 = f.input :sex, label: 'Sex (M or F)'
 = f.input :start_weight_in_lbs, label: 'Start Weight (in pounds)'
 = f.input :goal_weight_in_lbs, label: 'Goal Weight (in pounds)'
 = f.input :height_in_inches, label: 'Height (in inches)'
 = f.button :submit
