%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Start weight:
  = @user.start_weight
%p
  %b Goal weight:
  = @user.goal_weight
%p
  %b Current weight:
  = @user.current_weight
%p
  %b Height:
  = @user.height


= link_to 'Back', users_path
%br

- if current_user && @user == current_user
  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Add Water Log', new_user_water_log_path(@user)
  \|
  = link_to 'Add Food Log', new_user_food_log_path(@user)
  \|
  = link_to 'Add Weight Log', new_user_weight_log_path(@user)
  %br

= link_to 'Water Logs', user_water_logs_path(@user)
\|
= link_to 'Food Logs', user_food_logs_path(@user)
\|
= link_to 'Weight Logs', user_weight_logs_path(@user)
