= simple_form_for @food_log do |f|
 = f.input :food_name, label: 'Weight (in pounds)'
 = f.input :measured_at
 = f.input :carbs, label: 'Carbs (carbs - fiber)'
 = f.input :fat
 = f.input :protein
 = f.input :consumed_at
 = f.input :user_id
 = f.button :submit
