%h1 Listing weight_logs

%table
  %tr
    %th Weight
    %th Measured at
    %th User
    %th
    %th
    %th

  - @weight_logs.each do |weight_log|
    %tr
      %td= weight_log.weight
      %td= weight_log.measured_at
      %td= weight_log.user_id
      %td= link_to 'Show', user_weight_log_path(@user, weight_log)
      %td= link_to 'Edit', edit_user_weight_log_path(@user, weight_log)
      %td= link_to 'Destroy', user_weight_log_path(@user, weight_log), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Weight log', new_user_weight_log_path(@user)
